<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

</head>

<body class="css-selector">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid grad">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <img src="../static/img/logo-no-background.png" class="logo" alt="Responsive Image">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 borderBot vicunaText ">
                    <li class="nav-item active">
                        <a class="nav-link vicunaText alpacaText" aria-current="page" href="http://127.0.0.1:5500/flask_app/templates/home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link alpacaText vicunaText" href="http://127.0.0.1:5500/flask_app/templates/login_reg.html">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link vicunaText alpacaText" href="http://127.0.0.1:5500/flask_app/templates/login_reg.html">Registration</a>
                    </li>
                </ul>
                <h1 class="borderBot alpacaText rightMar">Alpaca Farm Solutions</h1>
            </div>
        </div>
    </nav>
    <div class="mainContain d-flex">
        <div class="subContain">
            <h1 class="borderBot alpacaText">Our Vision</h1>
            <p class="alpacaText topP"></p>
            <ul>
                <li class="top alpacaText vicunaText">Either through curiosity or mind altering substances you ever decide you want to follow the way of the alpaca or even build an alpaca farm? Nah, me neither, but if you did you'd have to start somewhere but where would you start?</li>
                <li class="top alpacaText vicunaText">You'd have to find land? but you better go find a realtor.</li>
                <li class="alpacaText vicunaText">We can help you locate that.</li>
                <li class="top alpacaText vicunaText">Everyone wants a fluffy alpaca to watch as they stare into the distance wishing for more out of life.</li>
                <li class="alpacaText vicunaText">We can help you locate that.</li>
                <li class="top alpacaText vicunaText">If you want more then just alpacas.</li>
                <li class="alpacaText vicunaText">We can help you locate that.</li>
                <li class="top alpacaText vicunaText">Do you want to just live your alpaca farm fantasy out online</li>
                <li class="alpacaText vicunaText">We can help you with that.</li>
                <li></li>
            </ul>
        </div>
        <div class="altContain">
            <h1 class="borderBot alpacaText">Alpaca Lyfe</h2>
            <iframe class="buttTwo" width="510" height="300" src="https://www.youtube.com/embed/bwL7xUC6LqQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="buttTwo" width="510" height="300" src="https://www.youtube.com/embed/U-hxNFWRZh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>